In [3]:
import pandas as pd
df=pd.read_csv('data.csv')

In [4]:
df

,StudentID,CGPA,Major Projects,Workshops/Certifications,Mini Projects,Skills,Communication Skill Rating,Internship,Hackathon,12th percent,10th percent,PlacementStatus,Unnamed: 12,Unnamed: 13
0,1,7.5,1,1,1,6,4.4,No,No,61,79,NotPlaced,NaN,NaN
1,2,8.9,0,3,2,9,4.0,Yes,Yes,78,82,Placed,NaN,NaN
2,3,7.3,1,2,2,8,4.8,Yes,No,79,80,NotPlaced,NaN,NaN
3,4,7.5,1,1,2,8,4.4,Yes,Yes,81,80,Placed,NaN,NaN
4,5,8.3,1,2,2,8,4.5,Yes,Yes,74,88,Placed,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7.5,1,1,2,7,3.9,Yes,No,85,66,NotPlaced,NaN,NaN
9996,9997,7.4,0,1,0,9,4.8,No,No,84,67,Placed,NaN,NaN
9997,9998,8.4,1,3,0,7,4.8,Yes,Yes,79,81,Placed,NaN,NaN
9998,9999,8.9,0,3,2,8,4.8,Yes,Yes,71,85,Placed,NaN,NaN
9999,10000,8.4,0,1,1,6,3.8,No,No,62,66,NotPlaced,NaN,NaN

In [5]:
df=df.loc[:,~df.columns.str.contains('^Unnamed')]

In [6]:
df

,StudentID,CGPA,Major Projects,Workshops/Certifications,Mini Projects,Skills,Communication Skill Rating,Internship,Hackathon,12th percent,10th percent,PlacementStatus
0,1,7.5,1,1,1,6,4.4,No,No,61,79,NotPlaced
1,2,8.9,0,3,2,9,4.0,Yes,Yes,78,82,Placed
2,3,7.3,1,2,2,8,4.8,Yes,No,79,80,NotPlaced
3,4,7.5,1,1,2,8,4.4,Yes,Yes,81,80,Placed
4,5,8.3,1,2,2,8,4.5,Yes,Yes,74,88,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7.5,1,1,2,7,3.9,Yes,No,85,66,NotPlaced
9996,9997,7.4,0,1,0,9,4.8,No,No,84,67,Placed
9997,9998,8.4,1,3,0,7,4.8,Yes,Yes,79,81,Placed
9998,9999,8.9,0,3,2,8,4.8,Yes,Yes,71,85,Placed
9999,10000,8.4,0,1,1,6,3.8,No,No,62,66,NotPlaced

In [7]:
df.dropna(axis=1)

,StudentID,CGPA,Major Projects,Workshops/Certifications,Mini Projects,Skills,Communication Skill Rating,Internship,Hackathon,12th percent,10th percent,PlacementStatus
0,1,7.5,1,1,1,6,4.4,No,No,61,79,NotPlaced
1,2,8.9,0,3,2,9,4.0,Yes,Yes,78,82,Placed
2,3,7.3,1,2,2,8,4.8,Yes,No,79,80,NotPlaced
3,4,7.5,1,1,2,8,4.4,Yes,Yes,81,80,Placed
4,5,8.3,1,2,2,8,4.5,Yes,Yes,74,88,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7.5,1,1,2,7,3.9,Yes,No,85,66,NotPlaced
9996,9997,7.4,0,1,0,9,4.8,No,No,84,67,Placed
9997,9998,8.4,1,3,0,7,4.8,Yes,Yes,79,81,Placed
9998,9999,8.9,0,3,2,8,4.8,Yes,Yes,71,85,Placed
9999,10000,8.4,0,1,1,6,3.8,No,No,62,66,NotPlaced

In [8]:
dfa=df.to_numpy()

In [9]:
dfa

array([[1, 7.5, 1, ..., 61, 79, 'NotPlaced'],
       [2, 8.9, 0, ..., 78, 82, 'Placed'],
       [3, 7.3, 1, ..., 79, 80, 'NotPlaced'],
       ...,
       [9998, 8.4, 1, ..., 79, 81, 'Placed'],
       [9999, 8.9, 0, ..., 71, 85, 'Placed'],
       [10000, 8.4, 0, ..., 62, 66, 'NotPlaced']], dtype=object)

In [10]:
df['backlogs']=[0 for i in range(10000)]

C:\Users\Dell\AppData\Local\Temp\ipykernel_12920\1631694311.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['backlogs']=[0 for i in range(10000)]

In [11]:
df

,StudentID,CGPA,Major Projects,Workshops/Certifications,Mini Projects,Skills,Communication Skill Rating,Internship,Hackathon,12th percent,10th percent,PlacementStatus,backlogs
0,1,7.5,1,1,1,6,4.4,No,No,61,79,NotPlaced,0
1,2,8.9,0,3,2,9,4.0,Yes,Yes,78,82,Placed,0
2,3,7.3,1,2,2,8,4.8,Yes,No,79,80,NotPlaced,0
3,4,7.5,1,1,2,8,4.4,Yes,Yes,81,80,Placed,0
4,5,8.3,1,2,2,8,4.5,Yes,Yes,74,88,Placed,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7.5,1,1,2,7,3.9,Yes,No,85,66,NotPlaced,0
9996,9997,7.4,0,1,0,9,4.8,No,No,84,67,Placed,0
9997,9998,8.4,1,3,0,7,4.8,Yes,Yes,79,81,Placed,0
9998,9999,8.9,0,3,2,8,4.8,Yes,Yes,71,85,Placed,0
9999,10000,8.4,0,1,1,6,3.8,No,No,62,66,NotPlaced,0

In [12]:
dfa=df.to_numpy()

In [13]:
dfa

array([[1, 7.5, 1, ..., 79, 'NotPlaced', 0],
       [2, 8.9, 0, ..., 82, 'Placed', 0],
       [3, 7.3, 1, ..., 80, 'NotPlaced', 0],
       ...,
       [9998, 8.4, 1, ..., 81, 'Placed', 0],
       [9999, 8.9, 0, ..., 85, 'Placed', 0],
       [10000, 8.4, 0, ..., 66, 'NotPlaced', 0]], dtype=object)

In [14]:
import random
for i in range(10000):
    if dfa[i][1]>8.5 and dfa[i][11]=='Placed':
        dfa[i][12]=0
    elif dfa[i][1]>7 and dfa[i][11]=='Placed':
        
        dfa[i][12]=random.choice([0,1])
    elif dfa[i][1]>8 and dfa[i][11]=='NotPlaced':
        dfa[i][12]=1
        
    elif dfa[i][1]>6 and dfa[i][11]=='NotPlaced':
        dfa[i][12]=random.choice([2,3,4])
    elif dfa[i][1]<7 and dfa[i][11]=='Placed':
        dfa[i][12]=random.choice([0,1,2])
    else:
        dfa[i][12]=random.choice([3,4,5,6,7])

In [15]:
dfa

array([[1, 7.5, 1, ..., 79, 'NotPlaced', 2],
       [2, 8.9, 0, ..., 82, 'Placed', 0],
       [3, 7.3, 1, ..., 80, 'NotPlaced', 2],
       ...,
       [9998, 8.4, 1, ..., 81, 'Placed', 0],
       [9999, 8.9, 0, ..., 85, 'Placed', 0],
       [10000, 8.4, 0, ..., 66, 'NotPlaced', 1]], dtype=object)

In [37]:
df=pd.DataFrame(dfa,columns=['StudentId','CGPA','Major Projects','Workshops/Certificatios','Mini Projects','Skills','Communication Skill Rating','Internship','Hackathon','12th Percentage','10th Percentage','PlacementStatus','backlogs'])

In [38]:
df

,StudentId,CGPA,Major Projects,Workshops/Certificatios,Mini Projects,Skills,Communication Skill Rating,Internship,Hackathon,12th Percentage,10th Percentage,PlacementStatus,backlogs
0,1,7.5,1,1,1,6,4.4,No,No,61,79,NotPlaced,2
1,2,8.9,0,3,2,9,4.0,Yes,Yes,78,82,Placed,0
2,3,7.3,1,2,2,8,4.8,Yes,No,79,80,NotPlaced,2
3,4,7.5,1,1,2,8,4.4,Yes,Yes,81,80,Placed,0
4,5,8.3,1,2,2,8,4.5,Yes,Yes,74,88,Placed,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7.5,1,1,2,7,3.9,Yes,No,85,66,NotPlaced,4
9996,9997,7.4,0,1,0,9,4.8,No,No,84,67,Placed,1
9997,9998,8.4,1,3,0,7,4.8,Yes,Yes,79,81,Placed,0
9998,9999,8.9,0,3,2,8,4.8,Yes,Yes,71,85,Placed,0
9999,10000,8.4,0,1,1,6,3.8,No,No,62,66,NotPlaced,1

In [39]:
x=df.drop(['PlacementStatus'],axis=1)

In [40]:
y=df['PlacementStatus']

In [41]:
x['PlacementStatus']=y.to_numpy()

In [42]:
x

,StudentId,CGPA,Major Projects,Workshops/Certificatios,Mini Projects,Skills,Communication Skill Rating,Internship,Hackathon,12th Percentage,10th Percentage,backlogs,PlacementStatus
0,1,7.5,1,1,1,6,4.4,No,No,61,79,2,NotPlaced
1,2,8.9,0,3,2,9,4.0,Yes,Yes,78,82,0,Placed
2,3,7.3,1,2,2,8,4.8,Yes,No,79,80,2,NotPlaced
3,4,7.5,1,1,2,8,4.4,Yes,Yes,81,80,0,Placed
4,5,8.3,1,2,2,8,4.5,Yes,Yes,74,88,0,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7.5,1,1,2,7,3.9,Yes,No,85,66,4,NotPlaced
9996,9997,7.4,0,1,0,9,4.8,No,No,84,67,1,Placed
9997,9998,8.4,1,3,0,7,4.8,Yes,Yes,79,81,0,Placed
9998,9999,8.9,0,3,2,8,4.8,Yes,Yes,71,85,0,Placed
9999,10000,8.4,0,1,1,6,3.8,No,No,62,66,1,NotPlaced

In [43]:
x.to_csv('data2.csv')

In [47]:
df=pd.read_csv('data2.csv')

In [46]:
df

,Unnamed: 0,StudentId,CGPA,Major Projects,Workshops/Certificatios,Mini Projects,Skills,Communication Skill Rating,Internship,Hackathon,12th Percentage,10th Percentage,backlogs,PlacementStatus
0,0,1,7.5,1,1,1,6,4.4,No,No,61,79,2,NotPlaced
1,1,2,8.9,0,3,2,9,4.0,Yes,Yes,78,82,0,Placed
2,2,3,7.3,1,2,2,8,4.8,Yes,No,79,80,2,NotPlaced
3,3,4,7.5,1,1,2,8,4.4,Yes,Yes,81,80,0,Placed
4,4,5,8.3,1,2,2,8,4.5,Yes,Yes,74,88,0,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,9996,7.5,1,1,2,7,3.9,Yes,No,85,66,4,NotPlaced
9996,9996,9997,7.4,0,1,0,9,4.8,No,No,84,67,1,Placed
9997,9997,9998,8.4,1,3,0,7,4.8,Yes,Yes,79,81,0,Placed
9998,9998,9999,8.9,0,3,2,8,4.8,Yes,Yes,71,85,0,Placed
9999,9999,10000,8.4,0,1,1,6,3.8,No,No,62,66,1,NotPlaced

In [48]:
df=df.loc[:,~df.columns.str.contains('^Unnamed')]

In [49]:
df

,StudentId,CGPA,Major Projects,Workshops/Certificatios,Mini Projects,Skills,Communication Skill Rating,Internship,Hackathon,12th Percentage,10th Percentage,backlogs,PlacementStatus
0,1,7.5,1,1,1,6,4.4,No,No,61,79,2,NotPlaced
1,2,8.9,0,3,2,9,4.0,Yes,Yes,78,82,0,Placed
2,3,7.3,1,2,2,8,4.8,Yes,No,79,80,2,NotPlaced
3,4,7.5,1,1,2,8,4.4,Yes,Yes,81,80,0,Placed
4,5,8.3,1,2,2,8,4.5,Yes,Yes,74,88,0,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7.5,1,1,2,7,3.9,Yes,No,85,66,4,NotPlaced
9996,9997,7.4,0,1,0,9,4.8,No,No,84,67,1,Placed
9997,9998,8.4,1,3,0,7,4.8,Yes,Yes,79,81,0,Placed
9998,9999,8.9,0,3,2,8,4.8,Yes,Yes,71,85,0,Placed
9999,10000,8.4,0,1,1,6,3.8,No,No,62,66,1,NotPlaced

In [50]:
df.to_csv('data3.csv')

In [51]:
x=pd.read_csv('data3.csv')

In [52]:
x

,Unnamed: 0,StudentId,CGPA,Major Projects,Workshops/Certificatios,Mini Projects,Skills,Communication Skill Rating,Internship,Hackathon,12th Percentage,10th Percentage,backlogs,PlacementStatus
0,0,1,7.5,1,1,1,6,4.4,No,No,61,79,2,NotPlaced
1,1,2,8.9,0,3,2,9,4.0,Yes,Yes,78,82,0,Placed
2,2,3,7.3,1,2,2,8,4.8,Yes,No,79,80,2,NotPlaced
3,3,4,7.5,1,1,2,8,4.4,Yes,Yes,81,80,0,Placed
4,4,5,8.3,1,2,2,8,4.5,Yes,Yes,74,88,0,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9995,9996,7.5,1,1,2,7,3.9,Yes,No,85,66,4,NotPlaced
9996,9996,9997,7.4,0,1,0,9,4.8,No,No,84,67,1,Placed
9997,9997,9998,8.4,1,3,0,7,4.8,Yes,Yes,79,81,0,Placed
9998,9998,9999,8.9,0,3,2,8,4.8,Yes,Yes,71,85,0,Placed
9999,9999,10000,8.4,0,1,1,6,3.8,No,No,62,66,1,NotPlaced

In [53]:
x=x.loc[:,~x.columns.str.contains('^Unnamed')]

In [54]:
x

,StudentId,CGPA,Major Projects,Workshops/Certificatios,Mini Projects,Skills,Communication Skill Rating,Internship,Hackathon,12th Percentage,10th Percentage,backlogs,PlacementStatus
0,1,7.5,1,1,1,6,4.4,No,No,61,79,2,NotPlaced
1,2,8.9,0,3,2,9,4.0,Yes,Yes,78,82,0,Placed
2,3,7.3,1,2,2,8,4.8,Yes,No,79,80,2,NotPlaced
3,4,7.5,1,1,2,8,4.4,Yes,Yes,81,80,0,Placed
4,5,8.3,1,2,2,8,4.5,Yes,Yes,74,88,0,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7.5,1,1,2,7,3.9,Yes,No,85,66,4,NotPlaced
9996,9997,7.4,0,1,0,9,4.8,No,No,84,67,1,Placed
9997,9998,8.4,1,3,0,7,4.8,Yes,Yes,79,81,0,Placed
9998,9999,8.9,0,3,2,8,4.8,Yes,Yes,71,85,0,Placed
9999,10000,8.4,0,1,1,6,3.8,No,No,62,66,1,NotPlaced

In [55]:
df=x

In [56]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split

df.fillna(0,inplace=True)
x=df.drop(['StudentId','PlacementStatus'],axis=1)
y = df['PlacementStatus']
le = preprocessing.LabelEncoder()
x['Internship'] = le.fit_transform(x['Internship'])
x['Hackathon'] = le.fit_transform(x['Hackathon'])


x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 100)

C:\Users\Dell\AppData\Local\Temp\ipykernel_12920\2284097519.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.fillna(0,inplace=True)

In [57]:
x_train

,CGPA,Major Projects,Workshops/Certificatios,Mini Projects,Skills,Communication Skill Rating,Internship,Hackathon,12th Percentage,10th Percentage,backlogs
1191,7.8,1,2,1,7,4.1,0,1,55,63,4
4458,8.7,2,2,2,9,4.7,1,1,76,85,0
1131,8.6,2,3,2,9,4.8,1,1,73,80,0
9562,7.8,1,1,0,6,4.6,0,0,58,80,2
6579,7.8,1,2,1,7,4.3,0,0,55,68,4
...,...,...,...,...,...,...,...,...,...,...,...
350,7.5,1,2,0,7,3.7,0,1,55,66,2
79,7.6,1,2,1,7,3.9,0,1,58,66,2
8039,8.2,2,3,2,8,4.8,1,1,77,83,1
6936,7.6,1,2,0,6,4.1,0,1,55,64,4
5640,6.6,0,2,1,6,4.1,0,0,57,62,3

In [58]:
y_train

1191    NotPlaced
4458       Placed
1131       Placed
9562    NotPlaced
6579    NotPlaced
          ...
350     NotPlaced
79      NotPlaced
8039       Placed
6936    NotPlaced
5640    NotPlaced
Name: PlacementStatus, Length: 7000, dtype: object

In [59]:
from sklearn.ensemble import RandomForestClassifier
classify= RandomForestClassifier(n_estimators= 10, criterion="entropy")
classify.fit(x_train, y_train)

RandomForestClassifier(criterion='entropy', n_estimators=10)

In [62]:
ypred=classify.predict(x_test)

In [64]:
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report
accuracy_score(y_test,ypred)

0.9326666666666666

In [65]:
confusion_matrix(ypred,y_test)

array([[1703,  131],
       [  71, 1095]], dtype=int64)

In [66]:
classification_report(y_test,ypred)

'              precision    recall  f1-score   support\n\n   NotPlaced       0.93      0.96      0.94      1774\n      Placed       0.94      0.89      0.92      1226\n\n    accuracy                           0.93      3000\n   macro avg       0.93      0.93      0.93      3000\nweighted avg       0.93      0.93      0.93      3000\n'

In [67]:
from sklearn.neighbors import KNeighborsClassifier 
knn=KNeighborsClassifier(n_neighbors=7)

In [70]:
knn.fit(x_train,y_train)

KNeighborsClassifier(n_neighbors=7)

In [71]:
ypred=knn.predict(x_test)

In [72]:
ypred

array(['NotPlaced', 'NotPlaced', 'NotPlaced', ..., 'Placed', 'NotPlaced',
       'Placed'], dtype=object)

In [73]:
accuracy_score(y_test,ypred)

0.868

In [74]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier(random_state=0)
dtc.fit(x_train,y_train)

DecisionTreeClassifier(random_state=0)

In [75]:
ypred=dtc.predict(x_test)
ypred

array(['NotPlaced', 'NotPlaced', 'Placed', ..., 'Placed', 'NotPlaced',
       'Placed'], dtype=object)

In [76]:
accuracy_score(y_test,ypred)

0.9243333333333333